.container {
  display: flex;
}

#canvas-container {
  width: 50%;
}

#button-and-coordinates {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#download {
  margin-bottom: 20px;
}

#dots {
  list-style-type: none;
  padding: 0;
}

h2 {
  text-align: center;
}