.container {
  display: flex;
}

#canvas-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button-and-coordinates {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}

#download {
  margin-top: 20px;
}

#dots {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

h2 {
  margin-bottom: 10px;
}

#numPointsSlider {
  position: absolute;
  top: calc(50% + 20px); /* Adjust the vertical position */
  left: calc(50% + 100px); /* Adjust the horizontal position */
  transform: translate(-50%, -50%);
  width: 150px; /* Adjust the width of the slider */
}